@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}

.col-logo{
    padding-left: 5%;
}

.col-logo img{
    width: 20%;
}

.apa-address address {
    font-size: 15px;
    color: #0C4DA2;
    font-family: 'Oswald',
    sans-serif;
}

.badge-status .badge,
.badge-status .apa-address address {
    float: right;
}

.badge-status .badge {
    padding: 20px 40px;
    font-size: 18px;
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    margin-left: -5%;
}

.mv-badge{
    margin-right: -40%;
}

.badge-status .apa-address address{
    clear: both;
    padding-right: 5%;
    padding-top: 2%;
}

.invoce-style{
    padding-left: 3%;
    font-size: 15px;
    color: #0C4DA2;
    font-family: 'Oswald',
    sans-serif;
    
}

.invoce-style h3{
    padding-bottom: 10px;
}

.invoce-style p{
    margin-top: -10px;
    color: slategrey;
    
}

.invoce-style small{
    color: slategrey;
}

/* TABLES IN SECTION */

.table-algn{
    margin: 2% auto;
}

.section-table thead th{
    color: #0C4DA2;
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
}

.section-table tbody  {
    color: slategrey;
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
}

.tax-style{
    color: slategrey;
    font-family: 'Oswald',
    sans-serif;
    font-size: 16px;
    padding-left: 20%;
}

.tax-style ul{
    list-style-type: none;
}

.total-amount{
    color: #0C4DA2;
    font-size: 20px;
    font-weight: 700;
}

.btn-invoice {
    margin-top: 10%;
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 10px 25px;
    font-size: 14px;
    margin-bottom: 2%;
    -webkit-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
}

.btn-pay{
    background-color: #0C4DA2;
}

.btn-pay:hover {
    border: 1px solid #0C4DA2;
    background-color: #0C4DA2;
    -webkit-box-shadow: 0px 5px 9px 2px rgba(28, 75, 228, 0.8);
    -moz-box-shadow: 0px 5px 9px 2px rgba(28, 75, 228, 0.8);
    box-shadow: 0px 5px 9px 2px rgba(28, 75, 228, 0.8);
    font-weight: 500;

}

.btn-pdf {
    background-color: #C80D10;
    border: 1px solid #C80D10;
}

.btn-pdf:hover {
    border: 1px solid #C80D10;
    background-color: #C80D10;
    -webkit-box-shadow: 0px 5px 9px 2px rgba(200, 13, 16, 0.8);
    -moz-box-shadow: 0px 5px 9px 2px rgba(200, 13, 16, 0.8);
    box-shadow: 0px 5px 9px 2px rgba(200, 13, 16, 0.8);
    font-weight: 500;

}