@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}

.img-background{
    background-image: url(../img/man.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.img12 img{
    width: 60%;
    margin-top: -10px;
}

.back-register {
    width: 100%;
    background-image: url(../img/assurance.jpg);
    background-size: cover;
    background-position: center;
}

.customer-login {
    margin: 10% auto;
}

.customer-login h2 {
    font-family: 'Oswald',
        sans-serif;
    color: #0C4DA2;
    font-size: 30px;
    text-align: center;
}

.customer-form {
    width: 70%;
    margin: 3% auto 5% auto;

}

.customer-form label {
    color: #0D345F;
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.customer-form input {
    padding: 25px 10px;

}

.customer-btn .btn {
    margin: 5% auto;
    width: 70%;
    padding: 10px 0px;
    border-radius: 20px;
    background-color: #0C4DA2;
    border: 1px solid #0C4DA2;
    font-weight: 600;
    -webkit-box-shadow: 0px 5px 8px -2px rgba(12, 77, 162, 1);
    -moz-box-shadow: 0px 5px 8px -2px rgba(12, 77, 162, 1);
    box-shadow: 0px 5px 8px -2px rgba(12, 77, 162, 1);

}

.btn-cust .btn-gmail {
    background-color: #C80D10;
    border: 1px solid #C80D10;
    color: #fff;
    font-weight: 400;
}

.btn-cust .btn-fb {
    background-color: #3b5998;
    border: 1px solid #3b5998;
    color: #fff;
    font-weight: 400;
}

.btn-cust .fab {
    padding-right: 10px;
}